svg.detailgraph
  background-color #fbf8f1
  shape-rendering:geometricPrecision

  .vertexGrp circle {
    stroke-width: 1px;
    stroke: #221714;
    fill: #eeebe5;
  }

  .vertexGrp path {
    pointer-events: none;
  }



  .vertexGrp g:focus circle {
    stroke-dasharray: 2;
  }

  .vertexGrp g:hover circle {
    //fill: url(#cnhcj);
    fill: #fff8bf;
  }

  .vertexGrp g:hover text {
    fill: black
  }

  .vertexGrp g.selected circle {
    fill: #d9d9d9;
  }

  .vertexGrp g:focus  {
    outline: none;
  }

  .vertexGrp text.rm {
    pointer-events: all;
  }

  .vertexGrp text {
    font-family: Open Sans;
    font-size: 15.5px;
    letter-spacing:  -.25px ;
    //text-anchor: middle;
    user-select: none;
    pointer-events: none;

    fill: #dedede
  }
  .edgeGrp path {
    fill:   none;
    stroke-width: 1px;
  }

  .edgeGrp .linkbg {
    fill:   none;
    stroke-width: 0px;
  }

  .edgeGrp  g:focus .linkbg {
    fill:   none;
    stroke-width: 0px;
  }

  .edgeGrp text {
    font-size: 15.5px;
    text-anchor: middle;
    letter-spacing: 2px;
  }
