
#patternInput

  .candidates div:hover
    background: #d9d9d9


  .item
    flex: 0 0 auto

  .scroll
    width: 0
    flex-wrap nowrap
    overflow-x auto
    overflow-y hidden

  .scroll::-webkit-scrollbar
    display: none;

  p
    cursor pointer

    &:hover
      background: #d9d9d9
