.color-box li, .label-box li
  margin-right: .45rem

.color-box button, .label-box button
  width: 1.5rem
  height: 1.5rem
  display: block

.label-box button
  width: auto;

p.property-value,
p.expand-item
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

p.property-value
  width: 225px
  height: 1rem

p.expand-item
  width: 350px
  height: .885rem

::-webkit-scrollbar
  width: 5px
  height: 5px
  position: absolute
  right: 0

::-webkit-scrollbar-track
  background: #f1f1f1;

::-webkit-scrollbar-thumb
  background: #bbb;

.is-fake .btn-bar
  display none;

.is-fake .similar-bar
  display none;

.is-fake .explist
  display none;

.is-fake.empty
  display none