@import "src/styles/helper/variables.scss";

@keyframes slideIn{
  from{
    right: -100%;
  }
  to{
    right: 0%;
  }
}
@keyframes slideOut{
  from{
    right: 0%;
  }
  to{
    right: -100%;
  }
}

.main {
  &__search {
    position: relative;
    display: flex;
    padding: 1rem;

    div.label {
      font-style: italic;
      width: 5rem;
      align-self: center;
    }
  }
  .ant-input-group {
    opacity: 1;
    width: 20% !important;

    span {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  .properties-display {
    border: 0.1rem solid #c4bbbb;
    background-color: $body-color;
    max-width: 30%;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    word-break:normal;

    &.on{
      display: block;
      animation-duration: 500ms;
      animation-name: slideIn;
      animation-fill-mode: both;
    }

    &.off{
      display: none;
      animation-delay: 400ms;
      animation-duration: 250ms;
      animation-name: slideOut;
      animation-fill-mode: both;
    }
  }

  .non-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
    user-select: none;
  }
}