@import url("reset.css");
@import url("common.css");
@import url("component.css");
/*@import url("content.css");  fixme : file 없음  */

@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Regular.ttf);
    font-weight: 400;
}
