@import 'src/styles/helper/variables';

@keyframes slideIn{
  from{
    right: -100%;
  }
  to{
    right: 0;
  }
}
@keyframes slideOut{
  from{
    right: 0;
  }
  to{
    right: -100%;
  }
}

.detail-info {
  border: 0.1rem solid #c4bbbb;
  background-color: $body-color;
  max-width: 30%;
  width: 25%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  display: none;

  &.on{
    display: block;
    animation-duration: 500ms;
    animation-name: slideIn;
    animation-fill-mode: both;
  }

  &.off{
    display: none;
    animation-delay: 400ms;
    animation-duration: 250ms;
    animation-name: slideOut;
    animation-fill-mode: both;
  }

  span {
    font-style: italic;
  }

  li.separator {
    content: "" !important;
    flex-grow: 1 !important;
    background: rgb(187, 187, 187) !important;
    height: 0.05rem !important;
    font-size: 0 !important;
    line-height: 0 !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
  }
  pre::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}