
@font-face {
  font-family: Open Sans;
  src: url(/font/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Open Sans Bold;
  src: url(/font/OpenSans-SemiBold.ttf);
  font-weight: 700;
}

body
  color: #221714

a 
  cursor: pointer

button:active, 
button:focus, button, input 
  outline: none 

h2, h3, h4, p, th
  color: #625955

h2 ,h3, h4, th, strong 
  letter-spacing: -.005rem
  font-family: Open Sans Bold
  font-weight: 400  

.border-grey-jh 
  border-color #625955 

.screen_out 
  height: 0 
  font-size: 0 
  line-height: 0 
  overflow: hidden 
  display: block

.arr, .arr_inner  
  position: absolute
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 12px 6px 0;
  border-color: transparent #b8c2cc transparent transparent;

.arr_inner 
  border-color: transparent #fff transparent transparent;
  border-width: 5px 10px 5px 0; 
  top: -5px; 
  left: 2px;

table tr td:nth-child(2) p, 
.accordian .content li p  
  width: calc(195px - 1rem)
  height: auto  
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap 

// select 
  // -webkit-appearance: none; 
  // -moz-appearance: none; 
  // appearance: none; 

th, td
  // border-left: 1px solid #b8c2cc
  padding: .5rem 1rem
  word-break: break-word

tbody tr:nth-child(even) td 
  background: #f9f8f5; 

th:first-child, td:first-child
  border-left: none

.item 
  &.node button 
    padding .15rem 0
  
  button 
    // background: linear-gradient(to top, #dedede, #fefefe)
    background: #d9d9d9
  
.item:not(.node) button::before, 
.item:not(.node) button::after
  content:''
  background: #fff
  width: 12.5px
  height: 12.5px
  display: block
  position: absolute
  top: 3px 

.item:not(.node).right button::before, 
.item:not(.node).right button::after 
  transform: rotate(-45deg)

.item:not(.node).left button::before, 
.item:not(.node).left button::after 
  transform: rotate(135deg)

.item:not(.node).right button::before, 
.item:not(.node).left button::before
  left: -6px  

.item:not(.node).right button::after, 
.item:not(.node).left button::after
  right: -6px

.item:not(.node).right button::after
  // background-image: linear-gradient(to right top, #dedede, #fefefe)
  background: #d9d9d9

.item:not(.node).left button::before
  // background-image: linear-gradient(to bottom left, #dedede, #fefefe)
  background: #d9d9d9

.visit div
  background: #f9f8f5

input, textarea, .pages
  font-family: Open Sans;
  font-size 16px

.w-2-5 
  width: 10px 
  
.w-3-5
  width: .9rem 

.p-2-5 
  padding: .75rem 
  
.bg-grey
  background: #f0ede6

.pages
  perspective: 1200px;
  transform-style: preserve-3d;

  .page.active
    visibility: visible;

  .page
    visibility: hidden;
    top: 0
    left: 0

.debug div
  border: 1px dotted darkred
  box-sizing border-box

.propview 
  transition: all .5s ease-in-out
  opacity: 1 
  transform: scale(1) 

  &.active { 
    opacity: 0 
    transform: scale(.5)
  }

.arrow-box 
  position: absolute
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 16px 8px;
  border-color: transparent transparent #b8c2cc transparent;

  &::after 
    content:''
    position: absolute; 
    top: 2px
    left: -8px
    width: 0
    height: 0
    border-style: solid;
    border-width: 0 8px 16px 8px;
    border-color: transparent transparent #f0ede6 transparent;

//  --------------------------------------------

.pt-page-rotatePushLeft {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotatePushLeft .8s both ease;
  animation: rotatePushLeft .8s both ease;
}
.pt-page-rotatePushRight {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotatePushRight .8s both ease;
  animation: rotatePushRight .8s both ease;
}
.pt-page-rotatePushTop {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotatePushTop .8s both ease;
  animation: rotatePushTop .8s both ease;
}
.pt-page-rotatePushBottom {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotatePushBottom .8s both ease;
  animation: rotatePushBottom .8s both ease;
}


.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both;
}

.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both;
}

.pt-page-moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}

.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}

.pt-page-moveToTop {
  -webkit-animation: moveToTop .6s ease both;
  animation: moveToTop .6s ease both;
}

.pt-page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both;
}

.pt-page-moveToBottom {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both;
}

.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both;
}


/* push */

@-webkit-keyframes rotatePushLeft {
  from { }
  to { opacity: 0; -webkit-transform: rotateY(90deg); }
}
@keyframes rotatePushLeft {
  from { }
  to { opacity: 0; -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
}

@-webkit-keyframes rotatePushRight {
  from { }
  to { opacity: 0; -webkit-transform: rotateY(-90deg); }
}
@keyframes rotatePushRight {
  from { }
  to { opacity: 0; -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
}

@-webkit-keyframes rotatePushTop {
  from { }
  to { opacity: 0; -webkit-transform: rotateX(-90deg); }
}
@keyframes rotatePushTop {
  from { }
  to { opacity: 0; -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }
}

@-webkit-keyframes rotatePushBottom {
  from { }
  to { opacity: 0; -webkit-transform: rotateX(90deg); }
}
@keyframes rotatePushBottom {
  from { }
  to { opacity: 0; -webkit-transform: rotateX(90deg); transform: rotateX(90deg); }
}


/* move from / to  */

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToTop {
  from { }
  to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
  from { }
  to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
  from { }
  to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
  from { }
  to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

.loader-box { 
    background: rgba(0,0,0,0.35); 
    width: 100%; 
    height: 100%; 
    display: none; 
    align-items: center;
    justify-content: center; 
    display: -ms-flexbox; 
    -ms-flex-align: center; 
    -ms-flex-pack: center; 
    opacity: 0.5;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}